<html>

<head>
    <title>Gist demo</title>
    <link href="/css/prettify.css" media="all" rel="stylesheet" />

</head>

<body>
    <div>
        <pre style="white-space: pre-wrap;word-wrap: break-word;">
<!--<pre class="com">
// author: {{ .Author.Username }}
// edited: {{ .LastUpdate.Days }} days ago</pre> -->{{ .Content }}</pre>
    </div>

    <div class="pln">
        <pre class="prettyprint"></pre>
    </div>

    <div class="kwd">
        <pre>{{ .RunTutorial }}</pre>
    </div>

    <br/>



</body>

</html>