<html>

<head>
    <title>Gist demo</title>
    <link href="/css/prettify.css" media="all" rel="stylesheet" />

</head>

<body>
    <div>
        <pre style="white-space: pre-wrap;word-wrap: break-word;">
<!--<pre class="com">
// author: {{ .Author.Username }}
// edited: {{ .LastUpdate.Days }} days ago</pre> -->{{ .Content }}</pre>
    </div>




    <br/>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="/iris-ws.js"></script>
        <script type="text/javascript">
            var socket = new Ws("ws://localhost:8080/gist-realtime");
            socket.OnConnect(function () {
                socket.Emit("watch", "");
            });

            socket.OnDisconnect(function () {

            });

            // read events from the server
            socket.On("watch", function (onlineViews) {
                $("span.com:contains('online views')").text("// " + onlineViews + " online views")
            });
        </script>
</body>

</html>